.days-one-regular {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gradient-shadow {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;

    position: relative;
    background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
    padding: 20px 40px;
    color: white;

}

.gradient-shadow::before {
    content: "";
    position: absolute;
    inset: -10px;
    /* размер распространения тени */
    transform: translate(8px, 8px);
    /* смещение тени */
    z-index: -1;
    /* помещаем за элементом */
    background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
    filter: blur(20px);
    /* размытие тени */
}

form {
    width: 400px;
    /* фиксированная ширина */
    margin: 0 auto;
    /* автоматические отступы слева и справа */
    padding: 50px;
    border-radius: 15px;
    width: 400px;
}


input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: 700px
}

button {
    width: 50%;
    margin-top: 15px;
    padding: 15px;
    
    font-size: 22px;
    margin-left: 100px;

    background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
    opacity: 77%;
    color: white;
    border: none;
    border-radius: 6%;
}

button:hover {
    opacity: 100%;
}
